In [44]:
import pandas as pd
import numpy as np

In [45]:
file_path = r"C:\Users\ankit\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(file_path, encoding='latin-1')

In [46]:
##Question 1
print(df.iloc[:])

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [47]:
##Question 2
dimensions = (100, 3)

num_features = dimensions[1]
num_observations = dimensions[0]


print("Number of features:", num_features)
print("Number of observations:", num_observations)

Number of features: 3
Number of observations: 100

In [48]:
##Question 3
my_tuple = (1, 2, 5, 8)
my_tuple[2] = 6

TypeError: 'tuple' object does not support item assignment

In [49]:
##Question 4
q1 = df[['Y2017','Area']].groupby('Area').sum()
print(q1.sort_values(by='Y2017').iloc[6])

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [50]:
##Question 5
import pandas as pd
import pandas as pd

madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Y2015'].notnull())]['Y2015']

total_protein_supply_2015 = madagascar_2015.sum()

print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 126674.9

In [51]:
##Question 8
df.shape

(60943, 12)

In [52]:
##Question 9
y = [(2, 4), (7, 8), (1, 5, 9)]
print(y[1][1])

8

In [53]:
##Question 10
array  = ([[94, 89, 63],
           [93, 92, 48],
           [92, 94, 56]])
a = np.array(array)
print(a[:2,1:])

[[89 63]
 [92 48]]

In [54]:
##Question 18
array  = ([[94, 89, 63],
           [93, 92, 48],
           [92, 94, 56]])
a = np.array(array)
print(a[:2,1:])
q2 = df['Y2017'].mean()
q2a = df['Y2017'].std()
print(round(q2, 2))
print(round(q2a, 2))

[[89 63]
 [92 48]]
140.92
1671.86

In [55]:
##19
q6 = df.groupby('Element').sum().loc['Processing']['Y2017']
print(q6)

292836.0

C:\Users\ankit\AppData\Local\Temp\ipykernel_9420\2491417882.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  q6 = df.groupby('Element').sum().loc['Processing']['Y2017']

140.92
1671.86

292836.0

C:\Users\ankit\AppData\Local\Temp\ipykernel_9420\2491417882.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  q6 = df.groupby('Element').sum().loc['Processing']['Y2017']